{{ form_start(form) }}
    {{ form_widget(form) }}

<input type="submit" value="{{ button_label|default('label.create_product'|trans) }}"
       class="{{ button_css|default("btn btn-primary") }}" />

{% if include_back_to_home_link is not defined or include_back_to_home_link == true %}
    <a href="{{ path('admin_produto_new') }}" class="btn btn-link">
        {{ 'action.back_to_list_product'|trans }}
    </a>
{% endif %}
{{ form_end(form) }}