{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_post_edit' %}

{% block main %}
    <h1>{{ 'title.edit_product'|trans({'%id%': product.id}) }}</h1>

    {{ include('admin/product/_form.html.twig', {
        form: edit_form,
        button_label: 'action.save'|trans,
    }, with_context = false) }}
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        {{ include('admin/product/_form.html.twig', {
            form: delete_form,
            button_label: 'action.delete_product'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            include_back_to_home_link: false
        }, with_context = false) }}
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
