{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_product_index' %}

{% block main %}
    <h1>{{ 'title.post_list'|trans }}</h1>

    <table class="table table-striped">
        <thead>
        <tr>
            <th>{{ 'label.product.title'|trans }}</th>
            <th><i class="fa fa-user"></i> {{ 'label.product.name'|trans }}</th>
            <th><i class="fa fa-cogs"></i> {{ 'label.actions'|trans }}</th>
        </tr>
        </thead>
        <tbody>
        {% for product in products %}
            <tr>
                <td>{{ product.name }}</td>
                <td>{{ product.code }}</td>

                <td>
                    <div class="item-actions">
                        <a href="{{ path('admin_product_show', { id: product.id }) }}" class="btn btn-sm btn-default">
                            {{ 'action.show'|trans }}
                        </a>
                        <a href="{{ path('admin_product_edit', { id: product.id }) }}" class="btn btn-sm btn-primary">
                            <i class="fa fa-edit"></i> {{ 'action.edit'|trans }}
                        </a>

                    </div>
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section actions">
        <a href="{{ path('admin_produto_new') }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-plus"></i> {{ 'action.create_product'|trans }}
        </a>
    </div>

    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
