{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_produto_new' %}

{% block main %}
    <h1>{{ 'title.product_new'|trans }}</h1>

    {{ include('admin/product/_form.html.twig') }}
{% endblock %}

{% block sidebar %}
    {{ parent() }}

    {{ show_source_code(_self) }}
{% endblock %}
