{% extends 'admin/layout.html.twig' %}

{% block body_id 'admin_product_show' %}

{% block main %}
    <h1>{{ product.name }}</h1>

    <table class="table">
        <tbody>
        <tr>
            <th>{{ 'product.name'|trans }}</th>
            <td>{{ product.name }}</td>
        </tr>
        <tr>
            <th>{{ 'product.code'|trans }}</th>
            <td>{{ product.code }}</td>
        </tr>

        </tbody>
    </table>
{% endblock %}

{% block sidebar %}
    <div class="section">
        <a href="{{ path('admin_product_edit', { id: product.id }) }}" class="btn btn-lg btn-block btn-success">
            <i class="fa fa-edit"></i> {{ 'action.edit_contents'|trans }}
        </a>
    </div>

    <div class="section">
        {{ include('admin/product/_form.html.twig', {
            form: delete_for,
            button_label: 'action.delete_product'|trans,
            button_css: 'btn btn-lg btn-block btn-danger',
            include_back_to_home_link: false
        }, with_context = false) }}
    </div>

    {{ show_source_code(_self) }}
{% endblock %}
